@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PackageTrackingApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PackageTrackingApp.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="text-black">
        <div class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center ">
            <a asp-controller="Home" asp-action="Index"  class="flex title-font font-medium items-center mb-4 md:mb-0">
            <div>
              <img src ="@Url.Content("~/Content/Images/Logo.png")" class="h-8 w-8">
            </div>
              <span class="ml-3 text-xl ">Pakke Portalen</span>
            </a>
            <nav class="md:mr-auto md:ml-10 flex flex-wrap items-center text-base justify-center">
                <a asp-controller="Home" asp-action="Index" class="mr-5 bg-transparent hover:text-gray-400 transition duration-200 ease-in-out hover:-translate-y-1 hover:scale-105">Forsiden</a>
                <a asp-controller="Home" asp-action="Index" class="mr-5 hover:text-gray-400 transition duration-200 ease-in-out hover:-translate-y-1 hover:scale-105 ">Om os</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-controller="Home" asp-action="myPage" class="mr-5 hover:text-gray-400 transition duration-200 ease-in-out hover:-translate-y-1 hover:scale-105">Min side</a>
                } 
            </nav>
            <partial name="_LoginPartial" />
        </div>
    </div>

    <div class="container mx-auto">
         @RenderBody()
    </div>

    <footer>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

