@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="flex flex-row space-x-8">
        <a class="btn-link mt-4 md:mt-0" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <p>Velkommen @UserManager.GetUserName(User)!</p>
        </a>
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button class="btn-secondary mt-4 md:mt-0" id="logout" type="submit">
                <p>Log Ud</p>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </form>
    </div>

}
else
{
    <div>

        <a name="_LoginPartial" class="btn-secondary mt-4 md:mt-0" id="register" asp-area="Identity" asp-page="/Account/Register">
            <p>Opret konto</p>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </a>

        <a name="_LoginPartial" class="btn-primary mt-4 md:mt-0" id="login" asp-area="Identity" asp-page="/Account/Login">
            <p>Log Ind</p>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </a>

    </div>


}
