@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="bg-primaryGray  rounded-xl lg:w-3/6 p-10 mx-auto text-center">
    <h1 class="text-gray-600 text-4xl">@ViewData["Title"]</h1>
    <p class="">Tjek din email for at nulstille din adgangskode</p>


</div>




